<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magento_catalog_api_data_categoryinterface_save_before">
        <observer name="category_external_save_before_observer"
                  instance="Study\CategoryExternalCode\Observer\SaveExternalCodeObserver" />
    </event>
</config>
