<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SoftLoft\MidnightMail\Api\ConfigInterface" type="SoftLoft\MidnightMail\Model\Config"/>
    <preference for="SoftLoft\MidnightMail\Api\CustomerConnectionInterface"
                type="SoftLoft\MidnightMail\Model\CustomerConnection"/>
    <preference for="SoftLoft\MidnightMail\Api\CustomerConnectionRepositoryInterface"
                type="SoftLoft\MidnightMail\Model\CustomerConnectionRepository"/>
    <type name="Magento\Customer\Model\Customer\DataProviderWithDefaultAddresses">
        <plugin name="add_ip_address"
                type="SoftLoft\MidnightMail\Plugin\AddIpAddress"/>
    </type>
</config>
